/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLOR VARIABLES */

/* Based on user configuration */
/* 
@media (prefers-color-scheme: white) {
  :root {
    --color-primary: blue;
    --color-secondary: yellow;
  }
} */

@layer base {
  :root {
    --bg-primary: #ffffff;
    --bg-secondary: #f4f4ff;
    --text-primary: #000000;
  }
}

/* TBD */
/* .theme-black {
  --bg-primary: #ffffff;
  --bg-secondary: #f4f4ff;
  --text-primary: #000000;
} */

html,
body {
  height: 100%;
  margin: 0; /* Remove default margin */
}

/* Body styles */
body {
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  background-color: blue;
}

/* Title styles (Poppins) */
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400; /* Bold for titles */
  line-height: 1.2;
}
h1 {
  font-size: 1.5rem;
}

/* Paragraph styles (Montserrat) */
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300; /* Regular weight for paragraphs */
  line-height: 1.5;
}

strong {
  font-weight: 500; /* Bold for strong elements */
}
